# SSH keys (niemals hochladen!)
*.pem
*.key
*.pub
*.ssh
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
.ssh/

# Python Cache & virtuelle Umgebungen
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/

# Logs
*.log

# Datenbanken
*.db

# Configs & Secrets
.env
config/*.json
instance/

# IDE/Editor spezifisches
.vscode/
.idea/

# Backup Dateien
*.bak
.backup/

# Gitignore selbst
.gitignore

